<Project>
	<PropertyGroup>
		<DvInstallDir>D:\Programs\Derail Valley</DvInstallDir>
		<ReferencePath>
			$(DvInstallDir)\DerailValley_Data\Managed\;
			$(DvInstallDir)\DerailValley_Data\Managed\UnityModManager\;
		</ReferencePath>
		<AssemblySearchPaths>$(AssemblySearchPaths);$(ReferencePath);</AssemblySearchPaths>
	</PropertyGroup>
	<Target Name="PostBuild" AfterTargets="PostBuildEvent">
		<!-- Copy to build folder -->
		<Copy SourceFiles="$(TargetPath)" DestinationFolder="build/" />

		<!-- Copy to game folder -->
		<Copy Condition="Exists('$(DvInstallDir)')" SourceFiles="$(TargetPath);README.md;info.json;LICENSE" DestinationFolder="$(DvInstallDir)/Mods/quickstart" />
	</Target>
</Project>